<!DOCTYPE html>
<html ng-app manifest="cache.manifest">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title></title>
	<script src="./angular.min.js"></script>
</head>
<body>
<div ng-init='records=[
		{sect:"LA LOUPE", adr:"A.D.M.R, Perche 28 11 impasse de la Cerisaie",phone:"02 37 29 90 59"},
		{sect:"LA LOUPE", adr:"Bibliothèque square Pfalzgrafenweiler",phone:"02 37 29 94 37"},
		{sect:"LA LOUPE", adr:"Centre des Finances Publiques -Trésorerie 13 rue de l Eglise",phone:"02 37 81 01 31"},
		{sect:"LA LOUPE", adr:"Collège Jean Monnet 56 avenue Dunois",phone:"02 37 53 58 70"},
		{sect:"LA LOUPE", adr:"Communauté de Communes des Portes du Perche 18 rue de la Gare",phone:"02 37 81 29 59"},
		{sect:"LA LOUPE", adr:"Ecole Maternelle Les Ecureuils rue Jean Moulin",phone:"02 37 81 01 46"},
		{sect:"LA LOUPE", adr:"Ecole Privée Maternelle et Primaire Notre-Dame 34 rue de l Eglise",phone:"02 37 81 09 91"},
		{sect:"LA LOUPE", adr:"Ecole Primaire Roland Garros 1 rue Georges Guynemer",phone:"02 37 81 12 53"},
		{sect:"LA LOUPE", adr:"La Maison Maternelle E.S.A.T. rue Pasteur",phone:"02 37 29 09 80"},
		{sect:"LA LOUPE", adr:"La Poste 7 rue de la Gare",phone:"36 31"},
		{sect:"LA LOUPE", adr:"Mairie place de l Hôtel de Ville",phone:"02 37 81 10 20"},
		{sect:"LA LOUPE", adr:"Maison de Retraite EHPAD et Accueil de Jour Alzheimer rue du Docteur Morchoisne",phone:"02 37 29 33 19"},
		{sect:"LA LOUPE", adr:"Multi-Accueil La Maison des P tits Loups 3 rue Henri Dunant",phone:"02 37 29 45 68"},
		{sect:"LA LOUPE", adr:"Office de Tourisme place de la Gare",phone:"02 37 81 24 00"},
		{sect:"LA LOUPE", adr:"Paroisse Secrétariat, 18 rue de l Eglise",phone:"02 37 81 10 11"},
		{sect:"LA LOUPE", adr:"Service d Aide à Domicile Schweitzer 13 rue du Gros Chêne",phone:"02 37 81 08 02"},
		{sect:"LA LOUPE", adr:"BELHOMERT GUEHOUVILLE Bibliothèque Municipale 6 rue de l Abbaye",phone:"02 37 37 41 71"},
		{sect:"LA LOUPE", adr:"BELHOMERT GUEHOUVILLE Ecole Primaire 6 rue de l Abbaye",phone:"02 37 37 05 06"},
		{sect:"LA LOUPE", adr:"BELHOMERT GUEHOUVILLE Mairie 19 rue de l Abbaye",phone:"02 37 37 01 18"},
		{sect:"LA LOUPE", adr:"CHAMPROND EN GATINE Ecole Elémentaire 72 Grande Rue",phone:"02 37 37 31 57"},
		{sect:"LA LOUPE", adr:"CHAMPROND EN GATINE Mairie/Bibliothèque 72 Grande Rue",phone:"02 37 49 80 20"},
		{sect:"LA LOUPE", adr:"CORVEES LES YYS Bibliothèque La Cédille 11 rue Perche et Beauce",phone:"02 37 52 62 18"},
		{sect:"LA LOUPE", adr:"CORVEES LES YYS Mairie 11 rue Perche et Beauce",phone:"02 37 49 80 79"},
		{sect:"LA LOUPE", adr:"FONTAINE SIMON Agence Postale 14 rue de la Mairie",phone:"02 37 81 81 15"},
		{sect:"LA LOUPE", adr:"FONTAINE SIMON Ecole Primaire rue de la Mairie",phone:"02 37 81 17 69"},
		{sect:"LA LOUPE", adr:"FONTAINE SIMON Mairie 12 rue de la Mairie",phone:"02 37 81 83 02"},
		{sect:"LA LOUPE", adr:"FRIAIZE Mairie 1 Cours Basses",phone:"02 37 49 83 13"},
		{sect:"LA LOUPE", adr:"LETHIEULIN Bibliothèque 1 rue Guérinière",phone:"02 37 81 25 50"},
		{sect:"LA LOUPE", adr:"LETHIEULIN Ecole Communale 2 rue du Lavoir",phone:"02 37 49 89 15"},
		{sect:"LA LOUPE", adr:"LETHIEULIN Ecole Maternelle 9 rue des Forgerons",phone:"02 37 49 84 21"},
		{sect:"LA LOUPE", adr:"LETHIEULIN Mairie 2 rue de la Maine",phone:"02 37 49 81 02"},
		{sect:"LA LOUPE", adr:"MANOU Ecole 5 rue du Château.",phone:"02 37 81 82 64"},
		{sect:"LA LOUPE", adr:"MANOU Mairie 2 rue Louise Koppe",phone:"02 37 81 85 13"},
		{sect:"LA LOUPE", adr:"MEAUCE Ecole 5 rue de la Mairie",phone:"02 37 81 13 02"},
		{sect:"LA LOUPE", adr:"MEAUCE Mairie 7 rue de la Mairie",phone:"02 37 81 01 27"},
		{sect:"LA LOUPE", adr:"MONTIREAU Mairie Le Bourg",phone:"02 37 37 31 37"},
		{sect:"LA LOUPE", adr:"MONTLANDON Ecole Maternelle 8 rue de la Mairie",phone:"02 37 37 35 28"},
		{sect:"LA LOUPE", adr:"MONTLANDON Mairie/Bibliothèque 8 rue de la Mairie",phone:"02 37 49 82 78"},
		{sect:"LA LOUPE", adr:"ST DENIS DES PUITS Mairie 7 Grande Rue",phone:"02 37 49 83 21"},
		{sect:"LA LOUPE", adr:"ST ELIPH Ecole Mixte 6 Grande Rue",phone:"02 37 81 03 09"},
		{sect:"LA LOUPE", adr:"ST ELIPH Mairie 6 Grande Rue",phone:"02 37 81 18 23"},
		{sect:"LA LOUPE", adr:"ST MAURICE SAINT GERMAIN Le Château des Vaux",phone:"02 37 53 70 70"},
		{sect:"LA LOUPE", adr:"ST MAURICE SAINT GERMAIN Ecole Primaire 2 rue de la Mairie",phone:"02 37 37 06 48"},
		{sect:"LA LOUPE", adr:"ST MAURICE SAINT GERMAIN Mairie 2 rue de la Mairie",phone:"02 37 37 02 17"},
		{sect:"LA LOUPE", adr:"ST VICTOR DE BUTHON Ecole Primaire 9 rue de la Liberté",phone:"02 37 81 35 89"},
		{sect:"LA LOUPE", adr:"ST VICTOR DE BUTHON Mairie 9 rue de la Liberté",phone:"02 37 81 15 04"},
		{sect:"LA LOUPE", adr:"VAUPILLON Ecole-Garderie 1 rue de la Mairie",phone:"02 37 81 34 43"},
		{sect:"LA LOUPE", adr:"VAUPILLON Mairie rue de la Mairie",phone:"02 37 81 02 89"},
		{sect:"SENONCHES", adr:"Bibliothèque Médiathèque 2 rue de Verdun",phone:"02 37 37 37 29"},
		{sect:"SENONCHES", adr:"Collège La Loge des Bois avenue du Poucin",phone:"02 37 53 59 20"},
		{sect:"SENONCHES", adr:"Communauté de Communes du Perche Senonchois 2 rue de Verdun",phone:"02 37 37 37 28"},
		{sect:"SENONCHES", adr:"Ecole Maternelle 2 rue des Vallées",phone:"02 37 37 72 14"},
		{sect:"SENONCHES", adr:"Ecole Sainte Marie 2 rue de Dreux",phone:"02 37 37 76 51"},
		{sect:"SENONCHES", adr:"Groupe Scolaire Jacques-Yves Cousteau 1 rue de la Moinerie",phone:"02 37 37 77 47"},
		{sect:"SENONCHES", adr:"La Poste 1 rue de Verdun",phone:"36 31"},
		{sect:"SENONCHES", adr:"Mairie 2 rue de Verdun",phone:"02 37 37 76 76"},
		{sect:"SENONCHES", adr:"Maison de Retraite E.H.P.A.D Périer 1 route de Dreux",phone:"02 37 37 73 27"},
		{sect:"SENONCHES", adr:"Maison d Accueil Spécialisée 6 rue des Vallées",phone:"02 37 53 52 00"},
		{sect:"SENONCHES", adr:"Paroisse St Laumer du Perche rue Périer",phone:"02 37 37 76 45"},
		{sect:"SENONCHES", adr:"Office de Tourisme 2 rue Louis Peuret (prochaine adresse : Château de Senonches)",phone:"02 37 37 80 11"},
		{sect:"SENONCHES", adr:"DIGNY Ecole Maternelle 6 bis rue Fondeurs",phone:"02 37 29 05 15"},
		{sect:"SENONCHES", adr:"DIGNY Ecole Primaire 1 rue des Fondeurs",phone:"02 37 29 05 57"},
		{sect:"SENONCHES", adr:"DIGNY Mairie 1 place St Germain",phone:"02 37 29 00 18"}, 
		{sect:"SENONCHES", adr:"JAUDRAIS Mairie 28 rue de la Mairie",phone:"02 37 29 04 60"},
		{sect:"SENONCHES", adr:"LA FRAMBOISIERE Ecole 6 rue Etienne Achavanne",phone:"02 37 37 84 43"},
		{sect:"SENONCHES", adr:"LA FRAMBOISIERE Mairie 4 rue Etienne Achavanne",phone:"02 37 37 71 06"},
		{sect:"SENONCHES", adr:"LA PUISAYE Ecole Le Bourg",phone:"02 37 37 51 44"},
		{sect:"SENONCHES", adr:"LA PUISAYE Mairie Le Bourg",phone:"02 37 37 60 55"},
		{sect:"SENONCHES", adr:"LA SAUCELLE Mairie 5 rue des Pesles",phone:"02 37 37 91 87"},
		{sect:"SENONCHES", adr:"LA VILLE AUX NONAINS Mairie 2 rue de la Mairie",phone:"02 37 37 76 76"},
		{sect:"SENONCHES", adr:"LE MESNIL THOMAS Ecole Primaire Le Bourg",phone:"02 37 37 86 12"},
		{sect:"SENONCHES", adr:"LE MESNIL THOMAS Mairie Le Bourg",phone:"02 37 37 73 64"},
		{sect:"SENONCHES", adr:"LOUVILLIERS LES PERCHE Mairie Le Bourg",phone:"02 37 37 96 70"},
		{sect:"SENONCHES", adr:"TARDAIS Mairie 16 route des Etangs",phone:"02 37 37 76 76"},
		{sect:"COURVILLE SUR EURE", adr:"Centre des Finances Publiques 5 rue Pannard",phone:"02 37 23 21 11"},
		{sect:"COURVILLE SUR EURE", adr:"Collège Louis Pergaud 14 rue de Châteauneuf",phone:"02 37 18 56 10"},
		{sect:"COURVILLE SUR EURE", adr:"Communauté de Communes du Pays Courvillois rue du 19 Mars 1962",phone:"02 37 23 25 72"},
		{sect:"COURVILLE SUR EURE", adr:"Ecole Maternelle du Chemin Vert avenue JF Kennedy",phone:"02 37 23 25 76"},
		{sect:"COURVILLE SUR EURE", adr:"Ecole Primaire du Chemin Vert avenue JF Kennedy",phone:"02 37 23 24 71"},
		{sect:"COURVILLE SUR EURE", adr:"Ecole Sainte Marie 2 rue Aristide Briand",phone:"02 37 23 26 05"},
		{sect:"COURVILLE SUR EURE", adr:"Ecole Municipale de Musique 3 rue de l Arsenal",phone:"02 37 23 7817"},
		{sect:"COURVILLE SUR EURE", adr:"Foyer de Vie Gérard Vivien rue Masselin",phone:"02 37 18 00 60"},
		{sect:"COURVILLE SUR EURE", adr:"La Poste rue Carnot",phone:"36 31"},
		{sect:"COURVILLE SUR EURE", adr:"Mairie Services Administratifs, rue Pannard",phone:"02 37 18 07 90"},
		{sect:"COURVILLE SUR EURE", adr:"Annexe, place de la Madeleine",phone:"02 37 23 30 08"},
		{sect:"COURVILLE SUR EURE", adr:"Services Techniques, rue de Châteauneuf",phone:"02 37 23 76 52"},
		{sect:"COURVILLE SUR EURE", adr:"Maison de Retraite Communale rueSt Exupéry",phone:"02 37 23 30 24"},
		{sect:"COURVILLE SUR EURE", adr:"Médiathèque Municipale 19 rue du 19 Mars 1962",phone:".02 37 23 35 89"},
		{sect:"COURVILLE SUR EURE", adr:"Presbytère/Paroisse La Bonne Nouvelle en Val de l Eure 2 rue St Nicolas",phone:"02 37 23 21 27"},
		{sect:"COURVILLE SUR EURE", adr:"Service Enfance Jeunesse du Pays Courvillois rue de Beauce",phone:"02 37 32 17 35"},
		{sect:"COURVILLE SUR EURE", adr:"Syndicat d Initiative - Chapelle St Gilles 2 rue de l Arsenal",phone:"02 37 23 22 22"},
		{sect:"COURVILLE SUR EURE", adr:"BILLANCELLES Ecole 2 rue de la Mairie",phone:"02 37 23 34 95"},
		{sect:"COURVILLE SUR EURE", adr:"BILLANCELLES Mairie 2 rue de la Mairie",phone:"02 37 23 24 48"},
		{sect:"COURVILLE SUR EURE", adr:"CHUISNES Ecole Maternelle 3 rue du 19 Mars 1962",phone:"02 37 23 81 51"},
		{sect:"COURVILLE SUR EURE", adr:"CHUISNES Ecole Primaire 2 place de l Eglise",phone:"02 37 23 21 58"},
		{sect:"COURVILLE SUR EURE", adr:"CHUISNES Mairie 1 rue du 19 Mars 1962",phone:"02 37 23 21 45"},
		{sect:"COURVILLE SUR EURE", adr:"DANGERS Ecole Primaire 10 rue de la Mairie",phone:"02 37 22 91 75"},
		{sect:"COURVILLE SUR EURE", adr:"ANGERS Mairie 10 rue de la Mairie",phone:"02 37 22 90 05"},
		{sect:"COURVILLE SUR EURE", adr:"(LE) FAVRIL Mairie/CCAS 37 route de la Mairie",phone:"02 37 37 43 01"},
		{sect:"COURVILLE SUR EURE", adr:"FONTAiNE LA GUYON Agence Postale Communale 7 rue Charles Péguy",phone:"02 37 22 44 52"},
		{sect:"COURVILLE SUR EURE", adr:"FONTAiNE LA GUYON Bibliothèque 8 rue St Martin",phone:"02 37 22 39 68"},
		{sect:"COURVILLE SUR EURE", adr:"FONTAiNE LA GUYON Ecole Maternelle et Primaire rue Jules Ferry",phone:"02 37 22 48 01"},
		{sect:"COURVILLE SUR EURE", adr:"FONTAiNE LA GUYON Mairie 2 rue Charles Péguy",phone:"02 37 22 57 79"},
		{sect:"COURVILLE SUR EURE", adr:"FONTAiNE LA GUYON Maison de Retraite 31 rue du Gai de Gaulle",phone:"02 37 22 50 28"},
		{sect:"COURVILLE SUR EURE", adr:"FRUNCE Mairie 1 rue de la Mairie",phone:"02 37 23 35 09"},
		{sect:"COURVILLE SUR EURE", adr:"LANDELLES Ecole 5 rue de la Mairie",phone:"02 37 23 70 16"},
		{sect:"COURVILLE SUR EURE", adr:"ANDELLES Mairie 5 rue de la Mairie",phone:"02 37 23 36 13"},
		{sect:"COURVILLE SUR EURE", adr:"MITTAINVILLIERS Mairie 1 place de la Mairie",phone:"02 37 22 50 67"},
		{sect:"COURVILLE SUR EURE", adr:"ORROUER Mairie 7 rue de la Mairie Serez",phone:"02 37 23 23 43"},
		{sect:"COURVILLE SUR EURE", adr:"PONTGOUIN Ecole de Musique 4 rue du Tan",phone:"02 37 37 43 17-02 37 37 40 19"},
		{sect:"COURVILLE SUR EURE", adr:"PONTGOUIN Ecole Primaire 2 rue Louis Pasteur",phone:"02 37 37 44 50"},
		{sect:"COURVILLE SUR EURE", adr:"PONTGOUIN Mairie 1 rue Saint Jean",phone:"02 37 37 40 19"},
		{sect:"COURVILLE SUR EURE", adr:"PONTGOUIN Maison de Retraite 27 place des Halles",phone:"02 37 37 44 80"},
		{sect:"COURVILLE SUR EURE", adr:"PONTGOUIN Maison Notre Dame Château des Vaux.",phone:"02 37 53 70 70"},
		{sect:"COURVILLE SUR EURE", adr:"ST ARNOULT DES BOIS Ecole Publique 2 rue de l Ecole",phone:"02 37 22 56 78"},
		{sect:"COURVILLE SUR EURE", adr:"ST ARNOULT DES BOIS Mairie 1 rue de l Ecole",phone:"02 37 22 53 22"},
		{sect:"COURVILLE SUR EURE", adr:"ST GEORGES SUR EURE Ecole Elémentaire 2 rue Vallée",phone:"02 37 26 73 08"},
		{sect:"COURVILLE SUR EURE", adr:"ST GEORGES SUR EURE Ecole Maternelle 13 Bis rue Jean Moulin",phone:"02 37 26 71 87"},
		{sect:"COURVILLE SUR EURE", adr:"ST GEORGES SUR EURE La Poste 4 place de la République",phone:"36 31"},
		{sect:"COURVILLE SUR EURE", adr:"ST GEORGES SUR EURE Mairie 16 rue Jean Moulin",phone:"02 37 26 74 16"},
		{sect:"COURVILLE SUR EURE", adr:"ST GEORGES SUR EURE Médiathèque Municipale place de la Laiterie",phone:"02 37 26 86 48"},
		{sect:"COURVILLE SUR EURE", adr:"ST GERMAIN LE GAILLARD Mairie 6 rue Charentonne",phone:"02 37 23 23 53"},
		{sect:"COURVILLE SUR EURE", adr:"ST LUPERCE Ecole Primaire Maternelle 11 rue de la Mairie",phone:"02 37 26 76 22"},
		{sect:"COURVILLE SUR EURE", adr:"ST LUPERCE Garderie 3 rue de l Arsenal",phone:"02 37 26 81 09"},
		{sect:"COURVILLE SUR EURE", adr:"ST LUPERCE Mairie - Bibliothèque 5 rue de la Mairie",phone:"02 37 26 85 12"},
		{sect:"COURVILLE SUR EURE", adr:"VERIGNY Ecole 16 rue de la Mairie",phone:"02 37 23 90 12"},
		{sect:"COURVILLE SUR EURE", adr:"VERIGNY Mairie 16 rue de la Maine",phone:".02 37 23 90 11"},
		{sect:"COURVILLE SUR EURE", adr:"VILLEBON Mairie 9 Grande rue",phone:"02 46 64 00 31"}]'></div>
<img src="./ico.png"><br />
Secteur : <br />
<select ng-model="secteur">
  <option value="LA LOUPE">LA LOUPE</option>
  <option value="SENONCHES">SENONCHES</option>
  <option value="COURVILLE SUR EURE">COURVILLE SUR EURE</option>
</select><br />
Recherche : <br />
<input ng-model="search" type"text" ></input><br />
<p ng-repeat="record in records | filter: {sect: secteur} | filter : search">
{{record.adr}} : <a href="tel:{{record.phone}}">{{record.phone}}</a><br />
</p>
</body>
</html>